.banner-image{
    background-image:url('../../../assets/images/home/ImgHome.jpg');
    background-size: cover;
}
.tittle{
    color: #ffffff;
    font-size: 4rem;
	margin: 0;
	
}
.subtitle{
    color: #ffffff;
	font-size: 1.5rem;
	
}

.tittle2{
	text-align: center;
    color: black;	
	font-size: 4rem;
	font-family: 'Playfair Display';
	padding-bottom: 10px;
}	
//SEGUNDA SECTION
.vertical-line {
	border-right: 1px solid #ccc;
  }
.second__title{
	margin-top: 20px;
	font-family: 'Playfair Display';
	font-size: 4rem;
	text-align: center;

}	
/* --- --- CAROUSEL --- --- */

.carousel__elemento img {
	max-width: 100%; /* Ajusta el ancho máximo de las imágenes al tamaño del contenedor */
	height: auto;    /* Mantiene la proporción original de las imágenes */
	max-height: 450px; /* Establece la altura máxima deseada para las imágenes */
	width: auto;     /* Ajusta automáticamente el ancho según la altura máxima */
	display: block; /* Para que los márgenes automáticos funcionen correctamente */
	margin: 0 auto; /* Margen automático en horizontal */
  }
  .carousel__elemento p{
	text-align: center;
  }

  .carousel__anterior,
  .carousel__siguiente {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background: transparent;
	border: none;
	cursor: pointer;
  }


// TERCERA SECTION
.contenedor-primero{
	padding-top: 50px;
}
.card{
	width: 350px	;
}
.card-title{
	text-align: center;
}
.tittle-text{
font-family: 'Playfair Display';
}

// NOSOTROS SECCTION//////

.tittle3{
	color: black	;
	text-align: center;
	font-family: 'Playfair Display';
	font-size: 4rem;
	padding-bottom: 40px;
}
.description-text{
	font-size: 1.5rem;
	text-align: justify;
}

///footer
#footer__container{
	background-color: black;
}
.footer__tittle{
	font-size: 18px;
	color:white;
	margin-bottom: 5px;
	
}
footer .row{
	padding: 0px;
}
a{
	color: gray;
}
.img__social{
	width: 35px;
	margin-right: 10px;
}

  li {
	text-align: center;
	list-style-type: none;
  }
@media screen and (min-width: 991px) and (max-width: 1200px) {

}