.banner-image{
    background-image:url('../../../assets/images/ImgHome.jpg');
    background-size: cover;
}
.tittle{
    color: #ffffff;
    font-size: 80px;
}
.tittle2{
    color: black;
	font-size: 50px;
	font-family: 'Playfair Display';
	padding-bottom: 10px;
}	

// SEGUNDA SECTION
.contenedor-primero{
	padding-top: 50px;
}
.card{
	height: 650px;
}
.card-img-top{

}
.card-tittle{
	font-size: 23px;
	text-align: center;
}
.card-text{
	text-align: center;
	font-size: 16px;
}