<section>
  <div class="w-100 ">
    <!-- NAVBAR-->
      <app-navbar>
      </app-navbar>
</div>
    <div class="banner-image w-100 vh-100">         
        <div class="d-flex h-100  justify-content-center align-items-center " >
            <div>
                <h1 class="tittle">DECOTEA</h1>
            </div>
        </div>
    </div>
</section>
<section style="background-color: black;">
    <div class="container">
      <h1 class="tittle2">
        Nuestros productos
      </h1>
    </div>
    <div class="container">
      <div class="carousel">
        <div class="carousel__contenedor">
          <button aria-label="Anterior" class="carousel__anterior"> 
            <fa-icon [icon]="faChevronLeft"></fa-icon>
          </button>
          <!-- carousel -->
            <div class="carousel__lista">
              <div class="carousel__elementos">
                <img src="../../../assets/images/Arbol otoño.png" alt="">
              </div>
              <div class="carousel__elementos">
                <img src="../../../assets/images/Arbol otoño.png" alt="">
              </div>
              <div class="carousel__elementos">
                <img src="../../../assets/images/Arbol otoño.png" alt="">
              </div>
              <div class="carousel__elementos">
                <img src="../../../assets/images/Arbol otoño.png" alt="">
              </div>
              <div class="carousel__elementos">
                <img src="../../../assets/images/Arbol otoño.png" alt="">
              </div>
            </div>
          <!-- carousel -->
          <button aria-label="Siguiente" class="carousel__siguiente">
            <fa-icon [icon]="faChevronRight"></fa-icon>
          </button>
        </div>
        <div role="tablist" class="carousel__indicadores"></div>
      </div>
    </div>
</section>