<section>
  <div class="w-100 ">
    <!-- NAVBAR-->
      <app-navbar>
      </app-navbar>
</div>
    <div class="banner-image w-100 vh-100">         
        <div class="d-flex h-100  justify-content-center align-items-center " >
            <div>
                <h1 class="tittle">DECOTEA</h1>
            </div>
        </div>
    </div>
</section>
<section style="background-color: #f6f6f6;">
    <div class="container vh-100">
      <div class="contenedor-primero">
        <div class="container">
          <div class="col-10">
            <h2 class="tittle2">Descubre más de nuestros productos</h2>
          </div>
        </div>
        
        <div class="container">
          <div class="row">
            <div class="col-4">
              <div class="card rounded-0 shadow ">
                <img src="../../../assets/images/ramo mano.jpg" alt="" class="card-img-top">
                <div class="card-body">
                  <div class="card-tittle ">
                    <h2 class="tittle-text">Ramo de flores</h2>
                  </div>
                  <p class="card-text">
                      Una colección de flores y follaje arreglados juntos en un paquete compacto.
                      Se sostiene en una mano y se utiliza como regalo en ocaciones especiales
                    </p>
                </div>
              </div>          
            </div>
            <div class="col-4">
              <div class="card rounded-0 shadow ">
                <img src="../../../assets/images/FLOR BODAS.png" alt="" class="card-img-top">
                <div class="card-body">
                  <div class="card-tittle">
                    <h2 class="tittle-text">Centro de mesas</h2>
                  </div>
                    <p class="card-text">
                      Arreglo decorativo utilizado en eventos, reuniones y ocasiones especiales. Ayuda a embellecer y realzar la apariencia de una mesa.
                    </p>
                </div>
              </div>   
            </div>
            <div class="col-4">
              <div class="card rounded-0 shadow ">
                <img src="../../../assets/images/Arbol otoño.png" alt="" class="card-img-top">
                <div class="card-body">
                  <div class="card-tittle">
                    <h2 class="tittle-text text-center" >Decoraciones personalizadas</h2>
                  </div>
                    <p class="card-text">
                      Piezas únicas de diseño hechas a medida para tus eventos, fiestas o para tu hogar.
                    </p>
                </div>
              </div>   
            </div>
          </div>
        </div>
      </div>
    </div>
   
</section>