<section>
    <div class="banner-image w-100 vh-100">
        <!-- <div class="navbar">
            <nav>
                <h2 class="logo">LOGO</h2>
                <ul>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                </ul>
            </nav>
        </div> -->
        <div class="container">
           <div class="d-flex d-flex justify-content-center align-items-center">
                <H1 class="tittle">DECOTEA</H1>
           </div>
        </div>
    </div>
</section>