<section class="vh-100">
  <div class="w-100">
      <!-- NAVBAR-->
        <app-navbar>
        </app-navbar>
  </div>
  <div class="video-container">
      <video autoplay loop muted>
        <source src="../../../../assets/videos/nosotros.mp4" type="video/mp4">
        <!-- Agrega más etiquetas <source> para otros formatos de video compatibles -->
      </video>
      <div class="text-overlay 100vh">
        <div class="d-flex h-100  justify-content-center">
          <div class="contenedor">
            <h1 class="tittle-text text-center">QUIENES SOMOS</h1>
            <div class="text-container">
              <div class="row">
                <div class="col-12">
                    <p class="text-nosotros">Nuestra empresa se dedica a la creación y diseño de arreglos florales, y nos enorgullece decir que somos completamente ecológicos. Nos preocupamos por el medio ambiente y nos esforzamos por ofrecer productos y servicios que sean respetuosos con la naturaleza.
                  En nuestro enfoque ecológico, utilizamos técnicas sostenibles en el cultivo y selección de nuestras flores, priorizando variedades que sean nativas, orgánicas y libres de pesticidas. 
                  </p> 
                  
                </div>
              </div>        
            </div>
          </div>

  
        </div>
        <!-- <div class="container d-flex h-100  justify-content-center align-items-cente">
          <div class="row">
            <div class="col-12">
              <h1 class="tittle-text text-center">¿Quienes somos?</h1>
            </div>
          </div>
        </div>
        <div class="text-container">
          <div class="row">
            <div class="col-12">
              <h3 class="">
                Nuestra empresa se dedica a la creación y diseño de arreglos florales, y nos enorgullece decir que somos completamente ecológicos. Nos preocupamos por el medio ambiente y nos esforzamos por ofrecer productos y servicios que sean respetuosos con la naturaleza.
                  En nuestro enfoque ecológico, utilizamos técnicas sostenibles en el cultivo y selección de nuestras flores, priorizando variedades que sean nativas, orgánicas y libres de pesticidas. También fomentamos el uso responsable del agua y la energía en nuestras operaciones.                
              </h3>      
            </div>
          </div>
        </div>

        También fomentamos el uso responsable del agua y la energía en nuestras operaciones.                  
                Además, nos esforzamos por minimizar los residuos y promover la reutilización y reciclaje en nuestro proceso de producción. Utilizamos envases y embalajes ecológicos, y buscamos formas creativas de reutilizar materiales para reducir nuestra huella de carbono.                  
                Nuestros arreglos florales reflejan nuestra filosofía ecológica al combinar belleza y sustentabilidad. Diseñamos composiciones únicas utilizando flores y follaje de temporada, evitando el uso de espumas florales y optando por materiales biodegradables y naturales.                  
         -->
        
      </div>
    </div>
</section>