<section class="navbar-container pb-5">
    <app-navbar>

    </app-navbar>
</section>
<section class="container">
    <div class="video-container">
        <video src="../../../../assets/videos/nosotros.mp4" autoplay loop></video>
    </div>
    <div class="text-container ">
        <h1 class="font-title text-center">¿QUIENES SOMOS?</h1>
          <div class="contendor-text ">
            <p class="text-center">
                
Nuestra empresa se dedica a la creación y diseño de arreglos florales, y nos enorgullece decir que somos completamente ecológicos. Nos preocupamos por el medio ambiente y nos esforzamos por ofrecer productos y servicios que sean respetuosos con la naturaleza.

En nuestro enfoque ecológico, utilizamos técnicas sostenibles en el cultivo y selección de nuestras flores, priorizando variedades que sean nativas, orgánicas y libres de pesticidas. También fomentamos el uso responsable del agua y la energía en nuestras operaciones.

Además, nos esforzamos por minimizar los residuos y promover la reutilización y reciclaje en nuestro proceso de producción. Utilizamos envases y embalajes ecológicos, y buscamos formas creativas de reutilizar materiales para reducir nuestra huella de carbono.

Nuestros arreglos florales reflejan nuestra filosofía ecológica al combinar belleza y sustentabilidad. Diseñamos composiciones únicas utilizando flores y follaje de temporada, evitando el uso de espumas florales y optando por materiales biodegradables y naturales.

Al elegir nuestros servicios, nuestros clientes pueden disfrutar de hermosos arreglos florales mientras contribuyen a la protección del medio ambiente. Nos enorgullece ofrecer una opción consciente y ecológica en la industria de los arreglos florales.
            </p>
          </div>
    </div>
</section>