<section class="navbar-container pb-5">
    <app-navbar>

    </app-navbar>
</section>
<section class="container">
    <div class="video-container">
        <video src="../../../../assets/videos/nosotros.mp4" autoplay loop></video>
    </div>
    <div class="text-container ">
        <h1 class="font-title text-center">¿QUIENES SOMOS?</h1>
          <div class="contendor-text ">
            <p class="text-center">
                Somos una empresa dedicada a las flores y arreglos personalizados para nuestros clientes.<br>
                También tenemos nuestro catálogo donde podras encontrar nuestros estilos , recomendados para tí

            </p>
          </div>
    </div>
</section>